<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase-messaging.js"></script>
    <!-- <script src="/static/js/firebase-messaging-sw.js"></script>

     -->

    <script>
      var firebaseConfig = {
        apiKey: "AIzaSyCotT3kyCaqAV9GSos2WuB1AHHdn76tUTs",
        authDomain: "dakhni-recipes.firebaseapp.com",
        projectId: "dakhni-recipes",
        databaseURL: "https://dakhni-recipes-default-rtdb.firebaseio.com/",
        storageBucket: "dakhni-recipes.appspot.com",
        messagingSenderId: "879814225538",
        appId: "1:879814225538:web:a35e61533e5b29f9958e9b",
        measurementId: "G-WJK9BLPHV2",
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
      firebase.analytics();

      const messaging = firebase.messaging();
      console.log(messaging.getToken());
      messaging
        .getToken({
          vapidKey:
            "BNPpYkzKFcq-ITEOuyXHivSva-q9L4wKNLZ3xj6-dXcV5JE1b5hnIsbI2q1iPZnz2iUXnBXBvWN8pxRcNAAYaMU",
        })
        .then((currentToken) => {
          if (currentToken) {
            console.log(currentToken);
          } else {
            console.log(
              "No registration token available. Request permission to generate one."
            );
          }
        })
        .catch((err) => {
          console.log("An error occurred while retrieving token. ", err);
        });

      messaging
        .requestPermission()
        .then(function () {
          console.log("Notification permission granted.");
          return messaging.getToken();
        })
        .catch(function (err) {
          console.log("Unable to get permission to notify.", err);
        });

      messaging.onMessage((payload) => {
        alert(payload)
        console.log("Message received. ", payload);
      });
    </script>
  </head>

  <body></body>
</html>
